{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Каталог продуктів</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">
                        Калорії: {{ product.calories_kcal }} <br>
                        Білки: {{ product.protein_g }} г <br>
                        Жири: {{ product.fat_g }} г <br>
                        Вуглеводи: {{ product.carbs_g }} г
                    </p>
                    <a href="{% url 'products:detail' product.id %}" class="btn btn-primary">Детальніше</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Поки що немає продуктів.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
